../out/sthagel_A3_Report.aux
../out/sthagel_A3_Report.log
../out/sthagel_A3_Report.out
../out/sthagel_A3_Report.synctex.gz
../venv/bin
../venv/include
../venv/lib
../venv/lib64
../venv/pyvenv.cfg
../Assignment_1/task_B/dialog.py
EightPuzzle.py
